.scene-container {
  width: 700px;
  height: 394px;
  .scene-content {
    position: relative;
    width: 100%;
    height: 100%;
    .component-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      .com-wrap {
        border: 1px solid rgba(0, 0, 0, 0);
        &.com-wrap-active {
          border: 1px dashed green;
          .tooltips {
            display: block;
          }
        }
        &:hover {
          border: 1px dashed green;
        }
        .tooltips {
          display: none;
          position: absolute;
          right: 0;
          top: -25px;
          padding: 2px 8px;
          background: #4285f4;
          border-radius: 3px 3px 0 0;
          color: #fff;
          :global .anticon {
            cursor: pointer;
          }
        }
      }
      .canvas-container {
        width: 100%;
        height: 100%;
      }
    }
  }
  .video-container {
    video {
      width: 100%;
      height: 100%;
    }
    .play-btn-container {
      .progressbar {
        display: inline-block;
        position: absolute;
        width: 0;
        height: 1px;
        border: 1px solid #4285f4;
      }
      .ope-btn {
        position: absolute;
        bottom: -34px;
        .play-btn {
          margin-left: 20px;
          color: #4285f4;
          cursor: pointer;
        }
      }
    }
  }
  .no-video-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ddeeff;
    border: 1px dashed #abcbff;
    .upload-icon {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #7ab7f2;
      font-size: 50px;
      color: #7ab7f2;
      cursor: pointer;
    }
    .upload-text {
      margin-top: 10px;
      color: #7ab7f2;
    }
  }
  .no-scene-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ddeeff;
    border: 1px dashed #abcbff;
  }
}
