.scene-container {
  position: relative;
  width: calc(100% - 300px - 300px);
  .component-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .com-wrap {
      border: 1px solid rgba(0, 0, 0, 0);
      &.com-wrap-active {
        border: 1px dashed green;
      }
      &:hover {
        border: 1px dashed green;
      }
    }
  }
}
