.front-container {
  padding: 30px;
  .chart-container {
    width: 400px;
    height: 300px;
  }
  .content-container {
    margin-top: 10px;
  }
  .queation-title {
    display: inline-block;
    width: 200px;
    cursor: pointer;
  }
}
